.place__links {
  grid-area: links;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

@media screen and (max-width: 320px){
  .place__links {
    padding-left: 16px;
    padding-right: 16px;
  }
}
