.footer__links-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  align-items: center;
}

@media screen and (max-width: 480px){
  .footer__links-list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
